# General
.DS_Store
.AppleDouble
.LSOverride
js/.DS_Store

# compiled output
/dist
/tmp
/out-tsc

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Dependency directories
node_modules/
jspm_packages/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables file
.env

# Auto-Generating Product Pages
demos/generate_landing_pages.py
demos/template.html
.cursorrules
.cursorignore
/.wrangler
/demo-triggers/cf-report.html
/demo-triggers/cf_diagnostics
GEMINI.md
demo-triggers/data.json
demo-triggers/input.txt
